@tailwind base;
@tailwind components;
@tailwind utilities;

.customOverlay{
    background:#19203862;
}
.customModal{
    border-radius: 6px;
    padding: 0;
    width:60%;
}

::-webkit-scrollbar {
    width: 1px;
    display: none;
  }